.App {
  text-align: center;
  background-color: orange;
  background: url("./worldmap.jpg");
  background-size: cover;
  width: 3900px;
  height: 1820px;
}

.Floating-ui {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Customer-input {
  padding: 3px;
  margin: 2px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.Customer-input > label {
  margin-right: 10px;
  margin-left: 40px;
}
